#capital{
	width: 280px !important;
}

#mainContainer{
	background: none !important;
}

#capital_header{
	text-align: center !important;
}

#capitalPane{
	overflow: auto !important;
}

#capitalPane p{
	margin: 10px !important;
}

#capital_header > p{
	text-align: center !important;
}

#capital_header p:first{
	padding-top: 5px !important;
}